appdirs==1.4.3
click==6.7
click-completion==0.2.1
colorama==0.3.9
crayons==0.1.2
cycler==0.10.0
docutils==0.13.1
humanfriendly==3.2
Jinja2==2.9.6
Kivy==1.10.0
Kivy-examples==1.10.0
Kivy-Garden==0.1.4
MarkupSafe==1.0
matplotlib==2.0.2
mypy==0.511
mypy-lang==0.4.6
packaging==16.8
py==1.4.34
Pygments==2.2.0
pymitter==0.2.3
pyparsing==2.2.0
pytest==3.1.2
python-dateutil==2.6.0
pytz==2017.2
rapidfuzz==0.2.1
requests==2.14.2
six==1.10.0
typed-ast==1.0.4
update==0.4.4
